#.gitignore#
.#.gitignore
.gitignore~
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/*
cabal.sandbox.config
*.prof
*.aux
*.hp
*.hs~
*.*#
*.#*
temp.stl
.cabal-sandbox/x86_64-linux-ghc-7.8.3-packages.conf.d/package.cache
workingNotes.txt
workingNotes.txt~
src/Data/scanRawDataWithDegrees.raww
src/Data/scanImages/*.JPG
parallelProcess.eventlog
/.project
